h1{
    border-bottom:10px solid pink;
    padding:20px;
    margin:0;
  }
  ol{
    border-right:10px solid cyan;
    width:150px;
    margin:0;
  }
  #container{
    display:grid;
    grid-template-columns: 240px 1fr;
  }